.footer {
  background: $darkBlue;
  color: $white;
  padding: 4rem;
  text-align: center;

  a {
    color: $white;
  }
  &__logo {
    margin-bottom: 3rem;
    display: inline-block;
    grid-area: logo;
  }
  &__social {
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    grid-area: social;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    a {
      line-height: 2;
    }
    &.col1 {
      grid-area: link1;
    }
    &.col2 {
      margin-bottom: 3rem;
      grid-area: link2;
    }
  }
  &__cta {
    grid-area: cta;
    button {
      margin-bottom: 3rem;
    }
  }

  @include breakpointsUp(large) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      grid-template-rows: repeat(2, 1fr);
      justify-items: start;
      grid-template-areas:
        'logo link1 link2 cta'
        'social link1 link2 cta';
    }
    &__links {
      align-items: start;
    }
    &__cta {
      justify-self: end;
    }
  }
}
