// ## Colors
// ### Primary
$darkBlue: #2d314d;
$limegreen: #31d35c;
$cyan: #2bb7da;

// ### Neutral

$greyBlue: #9698a6;
$greyBlueLight: #f3f4f6;
$lightGray: #fafafa;
$white: #ffffff;

// font
$fontdefault: 1.8rem;
$fontSmall: 1.4rem;
$fontLarge: 5.2rem;
