html {
  font-size: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  font-size: 1.8rem;
  color: #9698a6;
  font-weight: 300;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.jc__sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex.jc__sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.jc__c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.al__c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  padding: 1.4rem 3rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

button:hover,
.button:hover {
  opacity: 0.6;
}

@media (max-width: 1023px) {
  .hide__mobile-view {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide__desktop-view {
    display: none;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.px {
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

.py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: #2d314d;
  line-height: 1.2;
}

h1 {
  font-size: 3.7rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.header {
  background-color: #ffffff;
}

.header .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background: linear-gradient(#2d314d, transparent);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header nav {
  background: #ffffff;
  position: relative;
}

.header nav .logo {
  width: 14.1rem;
  height: 2.2rem;
}

.header nav .hamburger > span {
  display: block;
  width: 2.6rem;
  height: 0.2rem;
  background-color: #2d314d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 6px 1px;
          transform-origin: 6px 1px;
}

.header nav .hamburger > span:not(:last-child) {
  margin-bottom: 3px;
}

.header nav .header__links {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header nav .header__links ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.header nav .header__links ul a {
  font-size: 1.4rem;
  color: #9698a6;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  position: relative;
}

.header nav .header__links ul a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  bottom: -30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.header nav .header__links ul a:hover {
  color: #2d314d;
}

.header nav .header__links ul a:hover::before {
  opacity: 1;
}

.header .header__menu {
  background: #ffffff;
  border-radius: 0.6rem;
  position: relative;
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 9rem;
  width: 90%;
  left: 50%;
  z-index: 100;
}

.header .header__menu ul {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.6rem;
}

.header .header__menu ul li {
  list-style-type: none;
  padding: 10px 0;
  text-align: center;
}

.header .header__menu a {
  color: #2d314d;
}

.header.nav__open .hamburger span:nth-child(2) {
  opacity: 0;
}

.header.nav__open .hamburger span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.nav__open .hamburger span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.nav__open .overlay {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}

.header.nav__open .header__menu {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero {
  background-color: #fafafa;
  position: relative;
}

.hero__image {
  height: 85vw;
  max-height: 65.5rem;
  width: 100%;
  position: relative;
}

.hero__image::before {
  content: '';
  position: absolute;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.hero__image::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/images/image-mockups.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero__details {
  text-align: center;
}

.hero__details *:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (min-width: 1024px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__details {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: left;
  }
  .hero__details h1 {
    font-size: 5.2rem;
  }
  .hero__details p {
    font-size: 1.8rem;
  }
  .hero__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: static;
  }
  .hero__image::before {
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: left center;
    width: 70%;
    right: -15%;
    height: 100%;
  }
  .hero__image::after {
    height: 120%;
    background-position: 0 bottom;
  }
}

@media (min-width: 1440px) {
  .hero__image::after {
    background-size: 60%;
  }
  .hero .container {
    margin: 0 auto 0 20rem;
  }
}

.feature {
  background-color: #f3f4f6;
}

.feature__details {
  max-width: 50ch;
  margin-bottom: 5rem;
  padding: 0 40px;
}

.feature__grid {
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__item {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
  text-align: center;
}

.feature__icon {
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  .feature__grid {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .feature__icon {
    margin-bottom: 3rem;
  }
  .feature__item {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
    text-align: left;
  }
}

.article {
  background-color: #fafafa;
  margin-bottom: 5rem;
  padding: 2rem;
}

.article h2 {
  text-align: center;
}

.article__details {
  padding: 2rem;
  background: #ffffff;
  color: #9698a6;
}

.article__grid {
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__item {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  text-align: center;
  border-radius: 0.6rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__author {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.article__title {
  color: #2d314d;
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

.article__text {
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  .article__item,
  .article h2 {
    text-align: left;
  }
}

.footer {
  background: #2d314d;
  color: #ffffff;
  padding: 4rem;
  text-align: center;
}

.footer a {
  color: #ffffff;
}

.footer__logo {
  margin-bottom: 3rem;
  display: inline-block;
  grid-area: logo;
}

.footer__social {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: social;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.footer__links a {
  line-height: 2;
}

.footer__links.col1 {
  grid-area: link1;
}

.footer__links.col2 {
  margin-bottom: 3rem;
  grid-area: link2;
}

.footer__cta {
  grid-area: cta;
}

.footer__cta button {
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] 2fr;
        grid-template-columns: repeat(3, 1fr) 2fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    justify-items: start;
        grid-template-areas: 'logo link1 link2 cta' 'social link1 link2 cta';
  }
  .footer__links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__cta {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=index.css.map */